<config>
  <interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
    <interface>
      <name>{{ interface }}</name>
      <description>{{ description }}</description>
      <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">
        ianaift:ethernetCsmacd
      </type>
      <enabled>true</enabled>
      <ipv4 xmlns="urn:ietf:params:xml:ns:yang:ietf-ip">
        <address>
          <ip>{{ ip_address }}</ip>
          <netmask>{{ netmask }}</netmask>
        </address>
      </ipv4>
    </interface>
  </interfaces>
</config>
