{
  "name": "{{ pool_name }}",
  "loadBalancingMode": "{{ lb_method | default("round-robin") }}",
  "members": [
    {% for member in pool_members %}
    {
      "name": "{{ member.name }}:{{ member.port }}",
      "address": "{{ member.address }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "monitor": "{{ monitor | default("/Common/http") }}"
}
