{
  "name": "{{ vip_name }}",
  "destination": "/Common/{{ vip_ip }}:{{ vip_port }}",
  "mask": "255.255.255.255",
  "ipProtocol": "{{ ip_protocol | default("tcp") }}",
  "pool": "{{ pool_name }}",
  "profiles": [
    { "name": "{{ profile_http | default("http") }}" },
    { "name": "{{ profile_tcp | default("tcp") }}" }
  ],
  "sourceAddressTranslation": {
    "type": "{{ snat_type | default("automap") }}"
  },
  "vlansDisabled": true
}
